body {
    background-color: black;
    width: 100vw;
    margin: 0;
}

.navbar {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFAEC9;
}

.navbar .banner {
    display: flex;
}

.navbar .logo-mini {
    max-width: 120px;
    padding: 0%;
}

.navbar .logo {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
}

.navbar .logo h1 {
    margin-bottom: -12px;
}

.navbar .botones {
    margin-right: 5rem;
}

.navbar .botones .crear{
    background-color: white;
    border-radius: 30px;
    min-width: 8rem;
    padding: 4px 2px;
    transition: all 0.5s ease-in-out;
    font-weight: bold;
}

.navbar .botones .inicio{
    background-color: white;
    border-radius: 30px;
    min-width: 8rem;
    padding: 4px 2px;
    transition: all 0.5s ease-in-out;
    font-weight: bold;
}
    
.navbar .botones .crear:hover{
    transform: translateY(-4px);
    background-color: black ;
    color: white;
    

}

.navbar .botones .inicio:hover{
    transform: translateY(-4px);
    background-color: black ;
    color: white;
    
}
.navbar  input{
     width: 400px;
     height: 30px;
    padding: 2px;
    margin-top: 30px;
    margin-left: 200px;
    border-radius: 20px;
    border: 2px solid black;
    margin-bottom: 20px;
    border-color: #880015;
    background-color: black;
    color: white;
}
.bloque {
    display: flex;
    flex-direction: column;
}

.box {
    width: 250px;
    height: 100px;
    background: #FFAEC9;
    margin: 0px;
}

.page {
    display: flex;

}

.sidebar {
    background-color: #FFAEC9;
    left: 0px;
    width: 16rem;
    height: 100vh;
}
.sidebar {
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    background-color: #FFAEC9;
    color: white;
    border-radius: 2px;
}

.sidebar button{
    border-radius: 11px;
    min-width: 10rem;
    padding: 10px 6px;
    transition: all 0.5s ease-in-out;
    font-weight: bold;
    border-color: #880015;
}
.sidebar button:hover{
    transform: translateY(-4px);
    background-color: black ;
    color: white;

}
.venta .flores{
    width: 700px;
    height: 200px;
    margin: 0px;
}
.venta{
    color: white;
    text-align: center;
    font-size: 18px;
    margin: 0px;
}




