# ── Credenciales de correo (Gmail) ──────────────────────────────────────
GMAIL_USER=gmailuser
GMAIL_PASS=gmailpassword

# ── Credenciales de Google Login ──────────────────────────────────────────
GOOGLE_CLIENT_ID=11111111111111111111
